# Virtual environment
venv/
env/

# Environment variables — NEVER push this
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Django
*.log
local_settings.py
db.sqlite3

# Distribution
dist/
build/
*.egg-info/